<div class="container" ng-controller="NavbarController">
    <div class="row">
        <nav class="navbar col-12">
            <form id="form-inline-2" class="inline-menu-1">
                <div class="row">
                    <div class="col-3">
                        <a href="#/home"><img class="img-brand" src="webapp/img/brand.png"></a>
                        <h6 class="offset-2">Um pouco de nada</h6>
                    </div>
                    <div class="col-6">
                        <h6>Bem vindo!</h6>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default lupa" type="button">
                                    <i class="fa fa-search fa-2x"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control input-search" placeholder="Digite o que deseja!">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default lupa" type="button">
                                    <i class="fa fa-user"></i>
                                </button>
                            </span>
                            <a href="#/cliente" id="minha-conta"> <b class="offset-1"> Minha conta </b></a>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default lupa" type="button">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </span>
                            <a href="" id="minha-conta"> <b class="offset-1"> Carrinho </b></a>
                        </div>
                    </div>
                </div>
            </form>
        </nav>
    </div>
</div>