<div class="container" ng-controller="MenuConsoleController">
    
    <div class="row">
        <div class="col-3">
            <div class="menu-console">
                <p class="offset-1 hvr-grow" ng-click="getAcessorios()"><a href="" style="text-decoration: none" ><i class="fa fa-users"></i> Acessórios </a></p>
                <p class="offset-1 hvr-grow"><i class="fa fa-list"></i> Consoles</p>	
                <p class="offset-1 hvr-grow"  ng-click="getJogos()"><i class="fa fa-list"></i> Jogos</p>	
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="menu-console-games">
                <div ng-repeat="console in consoles">
                    <a href="" class="offset-1" ng-click="jogosByConsole(console.idConsole)" style="text-decoration: none">
                        <p id="hover-name">
                            <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i> 
                            <b class="offset-1"> {{console.nomeConsole}} </b>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="menu-console">
                <p class="offset-2" ><b>Filtrar por Preço</b></p>
            </div>
        </div>
    </div>

</div>
