<div class="container" ng-controller="MenuConsoleController">
    <div class="row offset-3">
        <div class="col-3" ng-repeat="acessorio in acessorios" >
            <div class="card-group" id="ajuste-novo">
                <div class="card">
                    <img class="card-img-top" ng-src="{{acessorio.foto}}" width="170px" height="150">
                    <div class="card-block" >
                        <p style="font-size: 12px;"><a href="" ng-click="jogoPorDetalhe(jogo)"><b>{{acessorio.nomeAcessorio}}</b></a></p>
                        <p class="card-text"><b>{{acessorio.console.nomeConsole}}</b></p>
                        <h4 class="card-text"><b>R$ {{acessorio.preco}}</b></h4>
                        <p>até <b>12x</b> de <b> R$ {{acessorio.preco / 12| number: 2}}</b> sem juros
                            ou <span class="badge badge-success" style="font-size: 13px"> R$ {{acessorio.preco - acessorio.preco * 0.10| number : 2}} </span> via Boleto Bancário</p>
                        <a href="" ng-click="comprarComUmClique(jogo)" class="btn btn-info btn-sm offset-3"><i class="fa fa-shopping-cart"></i></a>
                        <a href="" ng-click="removerJogoDesejado(desejo.idDesejo, $index)" class="btn btn-info btn-sm "><i class="fa fa-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
