<div class="container" ng-controller="MenuConsoleController">
    <div class="row offset-3">
        <div class="col-3" ng-repeat="jogo in jogos" >
            <div class="card-group" id="ajuste-novo">
                <div class="card" id="ajuste-card">
                    <img class="card-img-top" ng-src="{{jogo.foto}}" width="170px" height="150">
                    <div class="card-block" >
                        <h6 class="card-title"><a href="" ng-click="jogoPorDetalhe(jogo)">{{jogo.nomeJogo}}</a></h6>
                        <p class="card-text"><b>{{jogo.console.nomeConsole}}</b></p>
                        <h4 class="card-text"><b>R$ {{jogo.preco | number: 2}}</b></h4>
                        <p>até <b>12x</b> de <b> R$ {{jogo.preco / 12| number: 2}}</b> sem juros
                            ou <span class="badge badge-success" style="font-size: 13px"> R$ {{jogo.preco - jogo.preco * 0.10| number : 2}} </span> via Boleto Bancário</p>
                        <a href="" ng-click="comprarComUmClique(jogo)" class="btn btn-info btn-sm offset-3"><i class="fa fa-shopping-cart"></i></a>
                        <a href="" ng-click="removerJogoDesejado(desejo.idDesejo, $index)" class="btn btn-info btn-sm "><i class="fa fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
