<div class="container" ng-controller="minhaContaController">
    <div class="row">
        <div class="col-8 offset-3" style="margin-top: -14.6em;">
            <div class="card" style="border: 4px solid black">
                <div class="card-header" style="background-color: #ffbd2e">
                    <h3><b>Alterar Senha</b></h3>
                </div>
                <div class="card-block card__label">
                    <div class="row">
                        <div class="col-12" >
                            <span class="input input--isao" id="input-senha" ng-style="{ 'border' : border, 'background' : bgColor }">
                                <input class="input__field input__field--isao" type="password" ng-model="atualSenha" ng-click="myStyle()"/>
                                <label class="input__label input__label--isao" for="input-38" data-content="SENHA ATUAL">
                                    <span class="input__label-content input__label-content--isao"><i class="fa fa-lock fa-2x"></i> SENHA ATUAL</span>
                                </label>
                            </span>


                            <span class="input input--isao" id="input-senha" ng-style="{ 'border' : border, 'background' : bgColor }">
                                <input class="input__field input__field--isao" type="password" ng-model="novaSenha" ng-click="myStyle()"/>
                                <label class="input__label input__label--isao" for="input-39" data-content="NOVA SENHA">
                                    <span class="input__label-content input__label-content--isao"><i class="fa fa-lock fa-2x"></i> NOVA SENHA</span>
                                </label>
                            </span>

                            <span class="input input--isao" id="input-senha" ng-style="{ 'border' : border, 'background' : bgColor }">
                                <input class="input__field input__field--isao" type="password"  ng-model="confirmarSenha" ng-click="myStyle()">
                                <label class="input__label input__label--isao" for="input-39" data-content="CONFIRMAR SENHA">
                                    <span class="input__label-content input__label-content--isao"><i class="fa fa-lock fa-2x"></i> CONFIRMAR SENHA</span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="offset-3">
                        <button class="btn-new btn-1" ng-click="alterarMinhaSenha()"><i class="fa fa-check"></i>ALTERAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
