<div class="container" ng-controller="minhaContaController">
    <div class="row">
        <div class="col-3">
            <div class="minha-conta">
                <p style="font-size: 16px" class="offset-2"> <i class="fa fa-user fa-2x"> </i> <b>{{cliente.nome}}</b></p>
                <p class="offset-1"><a href="#/cliente"><i class="fa fa-user-circle"></i> Minha conta</a></p>
                <p class="offset-1"><a href="#/pedidos"><i class="fa fa-list"></i> Meus pedidos</a></p>	
                <p class="offset-1"><a href="#/enderecos"><i class="fa fa-truck"></i> Meus enderecos</a></p>	
                <p class="offset-1"><a href="#/alterarsenha"><i class="fa fa-lock"></i> Alterar senha</a></p>
                <p class="offset-1"><a href="#/meusdesejos"><i class="fa fa-star"></i> Lista de desejos</a></p>	
            </div>
        </div>
    </div>
</div>