<div class="cont" ng-controller="ClienteController"><br/>
    <h1><b>NÃO TENHO CADASTRO</b></h1>
    <section class="content bgcolor-3">
        <span class="input input--kyo">
            <input class="input__field input__field--kyo" type="text" ng-model="cliente.email" style="font-size: 25px;"/>
            <label class="input__label input__label--kyo" for="input-19">
                <span class="input__label-content input__label-content--kyo" style="margin-top: 35px;">Qual seu email?
                    <button class="btn-new btn-2 pull-3"  ng-click="verificarUsuarioCadastrado(cliente.email)" style="margin-top: 55px;">CADASTRAR</button></span>
            </label>
        </span>
    </section>
</div>